{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <strong>Joana Sean</strong> is an Associate at E&Y for 1.5 years now. Her hobbies include leisure chess, traveling, reading criminal fiction, and this class. She is a proud alum of UCB and has two twin siamese cats.
    <br>>>>
    <a href="https://www.linkedin.com/in/joana-sean/">Joana's LinkedIn</a><br />
    <hr>
    <strong>Michael Maimoni</strong> is a Manager at E&Y, assisting clients with various data and risk-related challenges. His hobbies include Brazilian Jiu-Jitsu, tennis, and hiking. Proud Anteater (zot-zot) out of UCI. 
    <br>>>>
    <a href="https://www.linkedin.com/in/michaelmaimoni/">Michael's LinkedIn</a>
</address>

{% endblock %}
