{% extends "layout.html" %}

{% block content %}
<h2>Determine the T+1 close price based on a given date and associated features of SPY</h2>
<form method=post>
    <dl>
        <p>
            <h3>Size</h3>
            Enter the date for which you'd like to predict the T+1 close price. <br/><br/>
            {{form.title}}
        </p>

        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name reference to your prediction, if you like.<br /><br />
            {{form.text}}
        </p>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock %}